@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: oklch(0.7145 0.1478 266.89);
  --color-secondary: oklch(0.4704 0.1478 266.89);
  --color-success: oklch(0.73 0.2477 142.38);
  --color-error: oklch(0.5959 0.2233 27.41);
  --color-warning: oklch(0.8925 0.1667 94.55);
  --color-grey: oklch(0.8458 0.0052 228.83);
}

:root {
  
}

.dark {
  
}
